#gdpr-cookie-message .container {
    margin: 0 auto;
}
#gdpr-cookie-message h3 {
    font-size: 1.3125rem;
    font-weight: $default-font-weight;
    color: $secondary-color;
    margin-bottom: 1.25rem;
}
#gdpr-cookie-message p, ul {
    margin-bottom: 1.25rem;
}
#gdpr-cookie-message li {
    list-style: none;
    margin-bottom: 0.625rem;
}
#gdpr-cookie-message li:last-child {
    margin-bottom: 0;
}
#gdpr-cookie-message input[type="checkbox"] {
    margin-top: 0.625rem;
    margin-right: 1rem;
    float: left;
}
#gdpr-cookie-message label {
    display: inline-block;
    max-width: 90%;
}
#gdpr-cookie-message code {
    color: $secondary-color;
    font-size: 1rem;
    background: $primary-color;
    padding: 0.1875rem 0.3125rem;
    border: $el-border-width solid $border-color;
}

#ihavecookiesBtn {
    margin-left: 0px !important;
}
/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($secondary-color, 0.9);
    padding: 1.25rem 1rem;
    padding-right: 220px;
    box-shadow: 0 0.375rem 0.375rem rgba($secondary-color, 0.25);
    z-index: 111111;
}
#gdpr-cookie-message h4 {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
#gdpr-cookie-message h5 {
    color: $secondary-color;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: white;
    font-size: 0.875rem;
    line-height: 1.5;
}
#gdpr-cookie-message p {
    margin: 0;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: $secondary-color;
    text-decoration: none;
    font-size: 0.9375rem;
    padding-bottom: 2px;
    border-bottom: $el-border-width dotted rgba($primary-color, 0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: $secondary-color;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    position: relative;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	color: $primary-color;
	fill: $primary-color;
	background: $bg-btn;
	text-decoration: none;
	text-align: center;
	padding: 0.75em 2em;
	border-radius: $el-border-radius;
	outline: none;
	border: none;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s;
}
#gdpr-cookie-message button:hover {
    background: $bg-btn-hover;
	color: $primary-color;
	fill: $primary-color;
}
button#gdpr-cookie-advanced {
    background: $primary-color;
    color: $secondary-color;
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    display: none;
    float: none;
    margin-top: 0;
    margin-right: 5px;
}

#gdpr-cookie-message #gdpr-cookie-advanced {
    display:none;
}

#gdpr-cookie-message button {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

@media only screen and (max-width : 576px) {
    #gdpr-cookie-message button {
        position: relative;
        right: 0;
        bottom: 0;
        width: auto;
    }
    #gdpr-cookie-message p {
        margin-bottom: 1rem;
    }
    #gdpr-cookie-message {
        padding: 1rem;
    }
}