.section {
	position: relative;
	padding: 5rem 0;
}

.sections {
	padding-top: 3.5rem;
	.section {
		padding: 0;
		margin-bottom: 3.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.section-overflow-hidden {
	overflow: hidden;
}
.section-dark {
	background-color: $secondary-bg-color;
	color: $primary-color;
	a {
		color: $primary-color;
	}
}
.section-bg {
	background-color: $primary-bg-color;
	background-position: center;
	background-size: cover;
}

.section-heading {
	margin-bottom: 3.5rem;
	h1, h2, h3 {
		position: relative;
		font-weight: bold;
		font-size: 2.5rem;
	}
}
.heading-center {
	text-align: center;
}
.heading-left {
	text-align: left;
}
.heading-right {
	text-align: right;
}

.section-desc {
	margin-top: 1.25rem;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	color: $text-secondary;
}