.alerts {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding-left: $grid-gutter-width/2;
    z-index: 300000;
    &.alerts-static {
        position: relative;
        right: 0;
        bottom: 0;
        padding: 0;
        z-index: 0;
        .alert {
            margin-left: 0;
        }
    }
}
.alert {
    position: relative;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: flex-start;
    border-radius: $el-border-radius;
    color: $main-color;
    font-size: 0.875rem;
    margin-left: $grid-gutter-width/2;
    border: $el-border-width solid rgba($main-color, 0.2);
    background-color: rgba($main-color, 0.2);
    margin-bottom: 0.625rem;
    a {
        color: $main-color;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    &.alert-success {
        background-color: rgba($text-success, 0.2);
        border-color: rgba($text-success, 0.2);
        color: $text-success;
        a {
            color: $text-success;
        }
    }
    &.alert-danger {
        background-color: rgba($text-danger, 0.2);
        border-color: rgba($text-danger, 0.2);
        color: $text-danger;
        a {
            color: $text-danger;
        }
    } 
    &.alert-warning {
        background-color: rgba($text-warning, 0.2);
        border-color: rgba($text-warning, 0.2);
        color: $text-warning;
        a {
            color: $text-warning;
        }
    }
}
.alert-text {
    line-height: 1.375rem;
}
    
.alert-ico {
    display: flex;
    align-items: center;
    margin-right: 0.625rem;
}
    
.alert-close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    color: $text-primary;
    outline: none;
    opacity: 0.6;
    transition: all 0.25s;
    &:focus {
        outline: none
    }
    &:hover {
        opacity: 1;
        transform: rotate(90deg);
    }
}

.alert-title {
    margin-bottom: 10px;
    margin-left: 1rem;
}