.wrapp-btn {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
	margin-left: -1rem;
	margin-bottom: -1rem;
	.btn {
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
}

.btn {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	color: $primary-color;
	fill: $primary-color;
	background: $bg-btn;
	text-decoration: none;
	text-align: center;
	padding: 0.75em 2em;
	border-radius: $el-border-radius;
	outline: none;
	border: none;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.25s;
	&.btn-w240 {
		width: 240px;
	}
	&.btn-wide {
		display: block;
		width: 100%;
	}
	&.btn-small {
		font-size: 0.8rem;
	}
	&.btn-large {
		font-size: 1.2rem;
	}
	&.btn-border {
		background: none;
		color: $bg-btn;
		fill: $bg-btn;
		&:hover {
			background: none;
			&::after {
				transform: translateX(0) skew(-15deg);
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border: $el-border-width solid $bg-btn;
			border-radius: $el-border-radius;
			overflow: hidden;
		}
		&::after {
			content: "";
			position: absolute;
			left: -25%;
			top: 0;
			width: 150%;
			height: 100%;
			background-color: $bg-btn;
			transform: translateX(-130%) skew(-15deg);
			transition: all 0.25s;
		}
		> i, > span, > svg {
			position: relative;
			z-index: 1;
		}
	}
	&.btn-widht-ico {
		display: flex;
		align-items: center;
		justify-content: center;
		i {
			margin-left: 5px;
		}
		> svg {
			width: 13px;
			height: 13px;
		}
		.btn-widht-ico-right {
			margin-left: 8px;
		}
		.btn-widht-ico-left {
			margin-right: 8px;
		}
	}
	&:focus {
		outline: none;
	}	
	&:hover {
		background: $bg-btn-hover;
		color: $primary-color;
		fill: $primary-color;
	}	
}
	
.ripple {
	position: relative;
	overflow: hidden;
}
.ripple-effect {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid rgba($primary-color, 0.3);
	border-radius: 50%;
	animation: ripple 1s ease forwards;
	z-index: 3;
}
	
@keyframes ripple {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(250);
	}
}